@if (isVisible()) {
  <div pStyleClass="@next"
    enterFromClass="hidden"
    enterActiveClass="animate-slidedown"
    leaveToClass="hidden"
    leaveActiveClass="animate-slideup"
    [ngClass]="{ 'highlight': isActive(), 'unhighlight': !isActive() }"
    [routerLink]="item().routerLink"
    class="flex items-center cursor-pointer p-3 gap-4 rounded-lg transition-colors duration-150">
    <span class="font-medium text-base leading-tight"> {{ item().label }} </span>

    @if (hasChildren()) {
      <i class="pi pi-angle-down text-base! leading-none! ml-auto"></i>
      }
  </div>

  <ul class="hidden list-none m-0 overflow-hidden">
    @for (item of item().items; track $index) {
      <li [routerLink]="item.routerLink">
        <a class="mt-2 flex items-center cursor-pointer p-2 gap- rounded-lg transition-colors duration-150" >
          <span [ngClass]="{ 'text-primary': item.routerLink && activePath() === item.routerLink[0] }"
            class="font-medium text-base leading-tight ml-4"> {{ item.label }} </span>
        </a>
      </li>
    }
  </ul>
}
