<aside class="h-full w-68 bg-white dark:bg-surface-900 hidden md:flex flex-col border-r border-gray-100 dark:border-surface-900">
  <div class="p-3 flex items-center gap-4">
    <div class="p-2 px-4 rounded-lg bg-linear-to-tr from-emerald-900 to-emerald-600">
      <div class="text-xl font-black text-white"> V </div>
    </div>

    <div class="flex flex-col">
      <div class="flex items-center">
        <div class="flex items-center gap-2 text-2xl font-black ">
          <span class="bg-clip-text text-transparent bg-linear-to-tr from-emerald-800 to-emerald-400 tracking-tight">
            SPPH
          </span>
          <span class="w-2 h-2 rounded-full bg-emerald-400"></span>
          <span class="bg-clip-text text-transparent bg-linear-to-tr from-emerald-400 to-emerald-800 tracking-tight">
            VOTEX
          </span>
        </div>
      </div>

      <div class="text-xs text-surface-600 dark:text-surface-200">
        Event Management System
      </div>
    </div>
  </div>

  <p-divider class="m-0! p-0!"></p-divider>

  <nav class="flex-1 p-4 flex flex-col gap-3">
    @for (item of listMenu; track $index) {
      @for (subItem of item.item; track $index) {
      <a routerLink="{{ subItem.routerLink }}"
        [target]="subItem.target ? subItem.target : '_self'"
        routerLinkActive="bg-linear-to-tr from-emerald-700 to-emerald-400 text-white shadow-sm"
        class="p-3 rounded-lg text-gray-600 hover:bg-gray-50 transition-all dark:text-surface-400 dark:hover:bg-surface-800">

        <div class="flex items-center gap-2">
          <i class="pi {{ subItem.icon }}" [ngClass]="{
            'text-white': activeRoute.includes(subItem.routerLink || ''),
            'text-gray-600 dark:text-gray-300': !activeRoute.includes(subItem.routerLink || '')}">
          </i>
          <span class="text-md font-medium" [ngClass]="{
            'text-white': activeRoute.includes(subItem.routerLink || ''),
            'text-gray-600 dark:text-gray-300': !activeRoute.includes(subItem.routerLink || '')}">
            {{ subItem.label }} 
          </span>
        </div>
      </a>
      }
    }
  </nav>

  <p-divider class="m-0! p-0!"></p-divider>

  <div class="p-3">
    <button pButton
      (click)="logout()"
      class="w-full"
      severity="danger"
      label="ออกจากระบบ"
      icon="pi pi-sign-out">
    </button>
  </div>
</aside>